
<!doctype html>
<html lang="en" ng-app="tiApp">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Tic Tac Toe</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script>
    var tiApp = angular.module('tiApp', []);
    tiApp.controller('TiCtrl', function ($scope) {
      $scope.buttons = ['.','.','.','.','.','.','.'];
      $scope.rows = [];
      $scope.rows.push(['-','-','-','-','-','-','-']);
      $scope.rows.push(['-','-','-','-','-','-','-']);
      $scope.rows.push(['-','-','-','-','-','-','-']);
      $scope.rows.push(['-','-','-','-','-','-','-']);
      $scope.rows.push(['-','-','-','-','-','-','-']);
      $scope.rows.push(['-','-','-','-','-','-','-']);


      $scope.state = {};
      $scope.state.player1 = 'X';
      $scope.state.player2 = 'O';
      $scope.state.currentSign = $scope.state.player1;
      $scope.message = 'Please Start';

      $scope.state.gameStarted = false;
      $scope.gameOver = false;
      $scope.put = function(col){
        console.log('Clicked column: ' + col);
        $scope.state.gameStarted = true;

        if ($scope.state.currentSign != $scope.state.player1 && $scope.state.currentSign != $scope.state.player2) {
          $scope.state.currentSign = $scope.state.player1;

          $scope.message = $scope.state.currentSign + '\'s Turn';
        }
        for (var row = 5; row >= 0; row--) {
          if($scope.rows[row][col] == '-' && !$scope.gameOver) {
            $scope.rows[row][col] = $scope.state.currentSign;
            $scope.checkWin(row, col);
            if(!$scope.gameOver) {
              if ($scope.state.currentSign == $scope.state.player1) {
                $scope.state.currentSign = $scope.state.player2;
              } else {
                $scope.state.currentSign = $scope.state.player1;
              }
              $scope.message = $scope.state.currentSign + '\'s Turn';
            }
            break;
          }
        };
      }
      $scope.checkWin = function (row, col) {
        console.log('Check row: ' + row + ' column: ' + col);
        var lastRow = $scope.rows[row];
        $scope.checkLine(lastRow);
        var lastCol = [$scope.rows[0][col],$scope.rows[1][col],$scope.rows[2][col],$scope.rows[3][col],$scope.rows[4][col],$scope.rows[5][col]];
        $scope.checkLine(lastCol);

        var sum = row + col;
        var forwardSlash = [];
        for (var r = 0, c = sum; r <= sum && r < 6; r++) {
          forwardSlash.push($scope.rows[r][c]);
          c--;
        };
        $scope.checkLine(forwardSlash);

        var diff = row - col;
        var r,c;
        if(diff < 0) {
          r = 0;
          c = -diff;
        } else {
          r = diff;
          c = 0;
        }
        var backwardSlash = [];
        for (; r < 6 && c < 7; r++, c++) {
          backwardSlash.push($scope.rows[r][c]);
        };
        $scope.checkLine(backwardSlash);
      }
      $scope.checkLine = function (line) {
        var sameCount = 0;
        for (var i = 0; i < line.length; i++) { 
          if(line[i] == $scope.state.currentSign) {
            sameCount++;
            if(sameCount > 3) {
              $scope.message = $scope.state.currentSign + ' Wins!';
              $scope.gameOver = true;
            }
          }
          else {
            sameCount = 0;
          }
        }
      }
    });
    </script>
  </head>
  <body ng-controller="TiCtrl">

    <div>Player 1 <input type="text" ng-model="state.player1" ng-readonly="state.gameStarted" maxlength="1" size="1" /></div>
    <div>Player 2 <input type="text" ng-model="state.player2" ng-readonly="state.gameStarted" maxlength="1" size="1" /></div>
<br/>
    <span><strong>{{message}}</strong></span>
    <table border="1">
      <tr><td ng-repeat="butt in buttons track by $index">
        <button ng-click="put($index)">.</button>
      </td>
      </tr>
      <tr ng-repeat="row in rows track by $index">
        <td ng-repeat="col in row track by $index">
          {{col}}
        </td>
      </tr>
    </table>

  </body>
</html>
